typing-extensions
langchain-core
langchain-openai
langchain-experimental
pandas
yfinance
stockstats
langgraph
rank-bm25
setuptools
backtrader
parsel
requests
tqdm
jinja2
python-dateutil
pytz
redis
chainlit
rich
typer
questionary
langchain_anthropic
